{% extends "./base.html" %}


{% block content %}

<div id="wrapper">
<main>
<section>
<h2 style= "text-align: center; font-family: 'georgia'"> About our plan</h2> 

<p style=" text-align: center; font-family: 'georgia'">The most exquisite invension in the world, an awesome italian coucine fast and delicuious made with cheese and sauce alse named pizza.
    It has been seen for the first time on 10th century, in central Italy.<br></br>
    After some varieties, in Naples, has been perfectioned and converted in the modern pizza that today is popular.
    We want to bring the best pizza you have ever tasted before. <br></br>We only 
    use the freshest ingredients and the have the best Italian chef's 
    making our recipes!
</p>
</section>

<section>
<h2 style=" text-align: center; font-family: 'georgia'">Where we come from</h2>
<p style=" text-align: center; font-family: 'georgia'" >Pizza first made its appearance in the United States with the arrival of Italian immigrants in the late 19th century.

    According to a 2009 response published in a column on Serious Eats, the first printed reference <br></br> to "pizza" served in the US is a 1904 article in The Boston Journal.
    Giovanni and Gennaro Bruno came to America from Naples, Italy, in 1903 and introduced the Neapolitan <br></br> pizza to Boston.
    Later, Vincent Bruno (Giovanni's son) went on to open the first pizzeria in Chicago.
    We all come from our own pizza loving place.<br></br> Our head chef is from Italy, 
    and the others are all learning his family's secrets.
</p>
</section>
<section>
<h2 style=" text-align: center; font-family: 'georgia'">Our Promise to you</h2>
<p style=" text-align: center; font-family: 'georgia'" >We promise you will love our pizza or you will get your next one free when 
    purchase of one of our double priced pizza's!! We care about your satisfaction!!
    <br></br>We make the best, that is why you love our Pizza...

</p>
</section>
</main>

<footer style="position:absolute; bottom: 0%; font-weight: bolder; font-family: 'georgia'">
  Copyright &copy; 2023 Home Baked Pizza <br>
  Created By:
  Ahmad Ghaznawi, Christopher Scholl, Zachary L Walsh
  
</footer>
</div>

{% endblock %}  
</body>
</html>